# Ignored directories
/config/*
!/db/migrations
/logs
/node_modules
/vendor

# Ignore local configurations
/config/local.js
/config/.env
!/config/.env.example
/config/config.local.php

# Skip all of these file types no matter where they are
**/error_log
**/index.html

# Ignore logging
/logs/*

# Smarty caches
**/templates_c
